.containerpro{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
    padding: 10px;
}

.midsec {
    margin-top: 100px;
    background-color: white;
    padding:10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    bottom: 0;
    z-index: 0;
    background-color: #007bff ;
    color: white;
}

.containerind{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}

#pic{
    padding: 10px;
}

.project{
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 2px solid purple;
}

.img1{
    background-image: url="/Images/wordguess.jpg";
}

.gallerycontent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}